<h1>Teacher List</h1>
<table id="list">
	<tr>
		<th>Teacher Name</th>
		<th colspan="3"></th>
	</tr>
	<% @teachers.each do |teacher| %>
		<tr>
			<td> <%= teacher.fullname %> </td>
			<td><%= link_to 'Details', teacher %></td>
        	<td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        	<td><%= link_to 'Destroy', teacher, method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>

		</tr>
	<% end %>
	
</table>