<h1>Parents List</h1>
<table id="list">
	<tr>
		<th>Parent Name</th>
		<th colspan="3"></th>
	</tr>
	<% @parents.each do |parent| %>
		<tr>
			<td> <%= parent.fullname %> </td>
			<td><%= link_to 'Details', parent %></td>
        	<td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        	<td><%= link_to 'Destroy', parent, method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>

		</tr>
	<% end %>
	
</table>
